.introduction-title {
    font-size: 2.4rem;
    padding-top: 5rem;
}

.introduction-text {
    font-size: 2.1rem;
    line-height: 2.8rem;
    padding-top: 2rem;
}

.introduction-pararel {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pararel-padding {
    padding-right: 6rem;
}